@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
	--main-background: #FBFBFB;
	--nav-color: #8F99A8;
	--green-color: #73C9A6;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', Arial, Helvetica;
    background: url(./assets/Asset\ 10@72x.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    margin: 25px;
}

.logo {
    width: 33px;
    margin-left: 50px;
}

.healthy {
    font-size: 24px;
    color: var(--green-color);
    margin-left: 5px;
}

.navItems {
    padding-left: 10px;
    float: right;
}

.logo, .navItems {
    text-decoration: none;
}