@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
	--main-background: #FBFBFB;
	--nav-color: #8F99A8;
	--green-color: #73C9A6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, Helvetica;
    background: url(./assets/Asset\ 10@72x.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin: 15px;
}

.logo {
    width: 48px;
    display: inline-block;
    vertical-align: middle;
}

.healthy {
    font-size: 24px;
    font-weight: 700;
    color: var(--green-color);
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 60px;
}

.nav-itens, .nav-item, .btn-login, .btn-register {
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    display: flex;
    margin-left: 50px;
    margin-top: 15px;
    color: var(--nav-color);
}

.active-item, .nav-item:hover {
    border-bottom: 2px solid white;
    border-image: linear-gradient(to right, #BFEFBF, #73C9A6) 1;
}

.nav-item:hover {
    transition: 150ms linear;
}

.btn-register, .btn-login {
    color: var(--main-background);
    margin-top: 10px;
    padding: 5px 25px;
    border-radius: 24px;
    background-image: linear-gradient(to bottom, #BFEFBF, #73C9A6);
    border-image: none;
    padding: 5px 20px;
    box-shadow: 4px 5px rgba(255, 255, 255, 0.6);
}

.btn-register:hover, .btn-login:hover {
    background-image: var(--main-background);
    border: 1px solid #8ccca6;
    color: var(--nav-color);
    transition: 200ms linear;
    box-shadow: 4px 5px #96dab1;
}

.btn-register {
    margin-left: 20px;
}

.conteudo{
    display: flex;
    justify-content: space-evenly;
}

.pessoa{
    height: 650px;
}

.botao{
    height: 55px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 34px;
    padding-left: 25px;
}

.conteudo-meio{
    display: inline-block;
    margin-top: 120px;
}

h2{
    font-size: 60px;
}

h3{
    margin-top: 34px;
   display: inline-block;
   vertical-align: middle;
    font-size: 15px;
    padding-left: 20px;
    color: #8F99A8;
}