@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
	--main-background: #FBFBFB;
	--nav-color: #8F99A8;
	--green-color: #73C9A6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, Helvetica;
    background: url(./assets/Asset\ 10@72x.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.navbar {
    display: flex;
    justify-content: space-around;
    padding: 34px;

}

.logo {
    height: 72px;
    display: inline-block;
    vertical-align: middle;
    
    
}

.healthy {
    font-size: 30px;
    color: var(--green-color);
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
    padding-left: 12px;
    
}

.navItems {
    list-style: none;
    text-decoration: none;
    display: flex;
    padding-left: 60px;
    color: hsl(216, 13%, 61%);
}

.conteudo{
    display: flex;
    justify-content: space-evenly;
    
}
.pessoa{
    height: 700px;
}
.botao{
    height: 55px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 34px;
    padding-left: 25px;
    
}
.conteudo-meio{
    display: inline-block;
    margin-top: 120px;
}
h2{
    font-size: 60px;
}
button{
    margin-top: 34px;
    border-radius: 67px;
    border: none;
    padding: 15px 50px;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    color: #fff;
    background: linear-gradient(0deg, rgba(101,188,152,1) 57%, rgba(101,218,169,1) 83%);
    font-family: 'Poppins', Arial, Helvetica;
    
}
h3{
    margin-top: 34px;
   display: inline-block;
   vertical-align: middle;
    font-size: 15px;
    padding-left: 20px;
    color: #8F99A8;
}